@font-face {
  font-family: "Neo Sans Arabic Medium";
  src: url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.eot");
  src: url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/7668f634eb4865a48f04d52ea3fb9b27.svg#Neo Sans Arabic Medium")format("svg");
}
.ticketCard{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 text-align: end;
  width: 165px;
  height:33.33333px ;

}
#leftDownload {
  align-self: center;

  flex-grow:2 ;
  width: 25%;
  height: auto
}

#middletext {
  text-wrap: nowrap;

  flex-grow: 5;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  width: 50%;
  height: 23px;


}

#rightTicketbox {
  flex-grow: 3;
  align-self: center;
  text-align: start;

  width: 25%;
  line-height: 3px !important;

}
.ticketdataParagraph{
  color: black;
font-size: 11.67px;
font-family: "Neo Sans Arabic Medium";
font-weight: 400;
line-height: 6.33px;
word-wrap: break-word
}
.ticketdataParagraph2{
  color: rgba(0, 0, 0, 0.40);
  font-size: 10px;
  text-align: end;
  font-family: Inter;
  font-weight: 500;
  line-height: 0px;
  word-wrap: break-word
}
